html {
  font-family: "Computer Modern Serif", serif;
  color: #222222;
  padding: 0 5%;
  background-color: #c2a3b7;
  text-align: justify;
  hyphens: auto;
}
body {
  background-color: #fff;
  padding: 0 2.5% 1.25%;
  border-radius: 2.5mm;
}
.nice {
  max-width: 75ch;
  margin: auto;
}
#logo {
  display: inline;
  height: 1em;
  width: auto;
  vertical-align: middle;
}
code {
  font-family: "Computer Modern Typewriter", mono;
}
.flexl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
details > p {
  border-left: thick solid #ddd;
  padding-left: 1%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}
h4 {
  padding-top: 30px;
}
