.container {
  margin: auto;
  max-width: 720px;
  padding: 15px;
}
.column {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3 {
  font-weight: normal;
  line-height: 3ex;
}
h3 {
  font-size: x-large;
}
body {
  margin: 0px;
  font-family: sans-serif;
  line-height: 3ex;
  background-color: #f2f4ff;
}
nav {
  overflow: hidden;
  background-color: #2211aa;
  border-color: #f2f4ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav img {
  filter: invert(100%);
  margin-right: 10px;
}
nav a {
  color: inherit;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown {
  overflow: hidden;
}
.dropdown button {
  border: none;
  outline: none;
  padding: 12px 16px;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
}
nav a:hover,
.dropdown:hover button {
  background-color: #117;
}
.dropdown div {
  display: none;
  position: absolute;
  background-color: #faf9ff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown div a {
  color: #222;
  padding: 8px 16px;
  display: block;
  text-align: left;
}
nav a.current-link {
  background-color: #f7f4ff;
  color: #222;
}
.dropdown div a:hover {
  background-color: #ccc;
}
.dropdown:hover div {
  display: block;
}
